/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)), url("/stanislav-gulei-32oHXq6phvA-unsplash.jpg") center/cover no-repeat;
    color: #fff;
    padding-bottom: 120px;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 3em;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
}

.sign-in {
    background: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
}

.hero {
    text-align: center;
    margin-top: 60px;
}

.hero p {
    font-size: 3.5em;
    font-weight: 300;

}

.hero h1 {
    font-size: 14.8em;
    font-weight: 700;
    letter-spacing: 5px;
}

#p {
    font-size: 2em;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.search-box input,
.search-box button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    min-width: 150px;
    outline: none;
}

.search-box button {
    background: #4998d2;
    color: #fff;
    cursor: pointer;
}


/* Destination */
.text {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 70px;
}

.text h1 {
    font-size: 42px;
    padding-bottom: 14px;
    color: #4998d2;
    text-transform: uppercase;
}

.text p {
    font-size: 22px;
    font-weight: 400;
    color: #7ba7d7;
}

.des {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 69px;
    margin-bottom: 20px;
}

.box1 {
    width: 285px;
    height: 455px;
}

.box1 img {
    width: 285px;
    height: 378px;
    border-radius: 30px;
}

.box1 h3 {
    padding-top: 17px;
    padding-left: 3px;
}

.ic {
    display: flex;
    padding-top: 8px;
    gap: 6px;
}

.ic i {
    font-size: 16px;
    color: #7ba7d7;
}

.ic p {
    padding-top: 2px;
    color: gray;
}

.box2 {
    background: linear-gradient(rgba(59, 189, 249, 0.4), rgba(14, 14, 14, 0.7)), url("/2.png") center/cover no-repeat;
    width: 497px;
    height: 495px;
    border-radius: 30px;
}

.box2 .con {
    padding-top: 300px;
    color: white;
    padding-left: 10%;
}

.con h3 {
    font-size: 2em;
    padding-left: 3px;
}

.con i {
    color: white;
}

.con p {
    color: white;

}

#so {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 26px;
    padding-left: 6px;
    font-weight: 700;
    color: rgb(231, 229, 229);
}

.btnBook {
    padding: 8px 20px;
    border: none;
    background-color: #4998d2;
    border-radius: 8px;
    color: white;
    font-size: 0.8em;
}

.btnLearn {
    padding: 8px 20px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 8px;
    color: white;
    font-size: 0.8em;
    margin-left: 20px;
}

.box3 {
    width: 285px;
    height: 455px;
}

.box3 img {
    width: 285px;
    height: 378px;
    border-radius: 30px;
}

.box3 h3 {
    padding-top: 17px;
    padding-left: 3px;
}

/*Features Section  */
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 80px 20px;
    background-color: #f8f9fa;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature i {
    font-size: 2.5rem;
    color: #7ba7d7;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
}

/* Hotels */

.hotel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.hotel-card {
    max-width: 335px;
    height: 548px;
    display: flex;
    flex-direction: column;
}

.hotel-card img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.hotel-name {
    padding-top: 40px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.4rem;
    color: #7ba7d7;
}

.hotel-rating {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1rem;
    font-weight: 700;
    color: #f8c41a;
    padding-bottom: 8px;
}

.stars {
    font-size: 1.4em;
    letter-spacing: 0.1rem;
}

.review-count {
    padding-top: 5px;
    font-weight: 400;
    font-size: 0.9rem;
    color: #7ba7d7;
}

.hotel-location {
    font-weight: 400;
    font-size: 0.95rem;
    color: #7ba7d7;
    margin-top: 0.1rem;
    padding-bottom: 8px;
}

.hotel-price {
    font-weight: 400;
    font-size: 0.95rem;
    margin-top: 0.15rem;
    color: #7ba7d7;
}

.hotel-price span {
    font-weight: 600;
    color: rgb(165, 165, 165);
}

/* Adventure */
.adv {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 70px;
}

.adv h1 {
    font-size: 48px;
    padding-bottom: 14px;
    color: #4998d2;
    text-transform: uppercase;
}

.adv p {
    font-size: 22px;
    font-weight: 400;
    color: #7ba7d7;
}

.photo-section {
    width: 50%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 190px;
}

.sawirkaWeyn img {
    width: 100%;
    border-radius: 20px;
    height: 400px;
}

.yaryar {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.yaryar img {
    flex: 1;
    max-width: calc((100% - 45px) / 4);
    border-radius: 20px;
    height: 200px;
}

/* Sawir bg */
.bg {
    width: 1100px;
    height: 550px;
    margin: 40px auto;
    border-radius: 24px;
    background: url('/geed.jpg') center bottom/cover no-repeat;
    color: white;
    padding: 40px 30px;
    display: flex;
    align-items: center;
}



.bg h4 {
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 0.3em;
}

.bg h1 {
    font-weight: 900;
    font-size: 7.5em;
    padding-bottom: 10px;
}

.bg p {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1em;
    max-width: 450px;
    line-height: 1.4;
}

.btn-bg {
    padding: 12px 28px;
    font-size: 1rem;
    background-color: #7ba7d7;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

/* Testimonial */
.testimonials-section {
    width: 900px;
    margin: 60px auto;
    padding: 0 15px;
    color: #1e1e1e;
    margin-top: 200px;
}

.testimonials-header h2 {
    color: #379af4;
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 4px;
}

.testimonials-header p {
    font-weight: 200;
    color: #7ba7d7;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.testimonial-card {
    background: white;
    border-radius: 8px;
    border: 1px solid rgb(62, 62, 62);
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.1);
    padding: 30px 40px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 30%;
}

.testimonial-text {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 15px;
}

.testimonial-author img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #379af4;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-name {
    font-weight: 700;
    font-size: 1rem;
    color: #1d2d50;
}

.author-from {
    font-size: 0.85rem;
    color: #87a0c3;
    padding-top: 3px;
}

/* Blog */
.blog {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 70px;
}

.blog h1 {
    font-size: 48px;
    padding-bottom: 14px;
    color: #4998d2;
    text-transform: uppercase;
}

.blog p {
    font-size: 32px;
    font-weight: 200;
    color: #7ba7d7;
}

.blogGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 250px;
}

.blog1 {
    width: 590px;
    height: 556px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('/dalxiis.jpg') center center/cover no-repeat;
    border-radius: 30px;
}

.blogcont {
    margin: 250px auto;
    padding-left: 6%;
    color: white;
}

.blogcont #t {
    font-size: 1.5em;
    font-weight: 500;
}

.blogcont h2 {
    font-size: 2.5em;
    width: 350px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sawirYar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sawirYar img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #379af4;
    background-color: #fff;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.mgc {
    font-weight: 900;
    font-size: 1.2rem;
    color: #ffffff;
}

.date {
    font-size: 0.95rem;
    color: #ffffff;
    padding-top: 3px;
}

.blog2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sawir1 {
    width: 590px;
    height: 268px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('/mt-kilimanjaro.jpg') center center/cover no-repeat;
    border-radius: 30px;
}

.swr1cont {
    margin: 90px auto;
    padding-left: 6%;
    color: white;
}

.swr1cont #g {
    font-size: 1.2em;
    font-weight: 500;
}

.swr1cont h2 {
    font-size: 2em;
    width: 350px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sawir2 {
    width: 590px;
    height: 268px;
    background: url('/nin.jpg') center center/cover no-repeat;
    border-radius: 30px;
}

.swr2cont {
    margin: 90px auto;
    padding-left: 6%;
    color: white;
}

.swr2cont #i {
    font-size: 1.2em;
    font-weight: 500;
}

.swr2cont h2 {
    text-transform: capitalize;
    font-size: 2em;
    width: 320px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Footer */
footer {
    background-color: #4998d2;
    width: 100%;
    height: 290px;
    color: white;
    padding: 20px 30px 15px;
}

.footer-kor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 80px;
}

.logo {
    font-size: 3rem;
    font-weight: 700;
}

.footer-nav {
    display: flex;
    gap: 3.8rem;
    font-size: 1.1rem;
    justify-content: center;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 1.8rem;
    font-size: 3rem;
}

.social-icons a {
    color: white;
}


hr {
    width: 84%;
    margin-left: 8%;
}

.footer-hoos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: #f9f9f9;
    gap: 40px;
    padding-top: 40px;
}

.footer-right {
    display: flex;
    gap: 0.8rem;
}

.footer-right a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.footer-right span {
    color: #d6def9;
}